.loginNSignUp{
    max-width: 420px;
    margin: 10rem auto;
    border:1px solid rgb(216, 216, 216);
    padding:50px 30px;
    border-radius: 10px;
}
@media (max-width: 420px) {
    .loginNSignUp{
        max-width: 350px !important;
        padding:50px 25px;
    }
    
}