div .camera{
    position: relative;
    top:0px;
    left:-110px;
    width:40px;
    cursor: pointer;
}
div .camera-center{
    position: relative;
    top:0px;
    left: -90px;
    width:40px;
    cursor: pointer;
}