body * {
    scroll-behavior: smooth !important;
}
.chat_wrapper {
    /* background:#F4F7FB !important; */
    padding: 3rem 0 10rem 0;
    height: 100vh;
}

/* global styles*/
body {
    background: #F4F7FB !important;
}

form {
    background: #fff;
}

.chat_container {
    display: flex;
    max-width: 1280px;
    margin: 5rem auto 5rem auto;
    flex-wrap: wrap;
}

.chat_container .wrap {
    display: flex;
}

.chat_left_inner {
    background: #fff;
    box-shadow: rgba(180, 180, 180, 0.1) 0px 4px 10px;
    padding: 1rem .7rem;
    border-radius: 20px;
}

.chat_right {
    display: flex;
    flex-grow: 1;
    margin: 0 1.5rem;
    height: 600px;
}

.chat_right_inner {
    background: #fff;
    width: 100%;
    height: 100%;
    box-shadow: rgba(180, 180, 180, 0.1) 0px 4px 10px;
    padding: 1rem .7rem;
    border-radius: 20px;

}

.chat_left {
    width: 25rem;
}

.chat_left img {
    margin: 0 1rem;
}

.messages {
    height: 350px;
    overflow-y: auto;
    border-bottom: 1px solid rgba(180, 180, 180, 0.1);
}

.messages::-webkit-scrollbar {
    width: 10px;
}

.messages::-webkit-scrollbar-track {
    background: transparent;
}

.messages::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(163, 163, 163, 0.5);
}

.message_wrapper {
    margin-top: 5px;
    padding: 0px 5rem;
}

.message_wrapper img {
    width: 100%;
    border-radius: 5px;
}

.message_wrapper p {
    padding: .5rem 15px;
    display: inline-block;
    max-width: 280px;
    word-wrap: break-word !important;
    min-width: 100px;
    text-align: left;
    border-radius: 10px;
}

.message_wrapper small {
    display: inline-block;
    margin-top: 15px;
    opacity: .8;
}

.message_wrapper.own {
    text-align: right;
}

.me {
    background: #157ab9;
    color: white;
}

.friend {
    background: #F4F7FB;
}

@media (max-width: 420px) {
    .chat_container {
        justify-content: center !important;
    }

    .chat_left_inner {
        width: 360px;
        margin: 0 auto;
    }

    .chat_right {
        margin: 1rem 0 8rem 0;

    }

    .chat_right_inner {
        width: 360px !important;
        margin: 0 auto;
    }

    .message_wrapper {
        padding: 0px .2rem;
        margin: 0 1rem;
    }

    .message_wrapper p {
        max-width: 70%;

    }

    .custom-input {
        bottom: -300% !important;
    }

    .messages p {
        margin-top: 15px;
    }
}